*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #1b1b1b;
    position: relative;
    font-family: roboto, sans-serif;
}

.open-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background-color: #fff;
    z-index: 10;
    cursor: pointer;
    outline: none;
    border: none;
}

.shutter{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
}

.shutter div{
    width: 50vw;
    height: 50vh;
    background: #1b1b1b;
    position: absolute;
    transition: 5s;
    top: 0;
    left: 0;
}

.shutter .first{
    clip-path: polygon(0 0, 57% 0, 100% 100%, 0% 100%);
}

.shutter .second{
    clip-path: polygon(57% 0, 100% 100%, 100% 0);
}

.shutter .third{
    left: 50%;
    clip-path: polygon(43% 0, 0 0, 0% 100%);
}

.shutter .four{
    left: 50%;
    clip-path: polygon(43% 0, 100% 0, 100% 100%, 0% 100%);
}

.shutter .five{
    top: 50%;
    clip-path: polygon(0 0, 100% 0, 57% 100%, 0% 100%);
}

.shutter .six{
    clip-path: polygon(100% 100%, 100% 0, 57% 100%);
    top: 50%;
}

.shutter .seven{
    clip-path: polygon(0 0, 0 100%, 43% 100%);
    top: 50%;
    left: 50%;
}

.shutter .eight{
    top: 50%;
    left: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 43% 100%);
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    padding-left: 10vw;
}

.road{
    position: absolute;
    bottom: 30%;
    height: 3px;
    left: 0;
    transform: translateY(50%);
    background: #1b1b1b;
    animation: grow 1s forwards 1;
}

@keyframes grow{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

@keyframes slide-out{
    0%{
        left: 0;
        width: 100%;
    }

    100%{
        left: 100%;
        width: 100%;
    }
}

.cycle{
    width: 500px;
    height: 3px;
    position: absolute;
    bottom: 30%;
    left: -100%;
    transform: translateY(50%);
    animation: slide-in 5s forwards 1;
}

.cycle img{
    position: absolute;
}

.cycle .frame{
    height: 235px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-bottom: 65px;
    z-index: 3;
}

.cycle .tire{
    height: 200px;
    bottom: 0;
    left: 1%;
    animation: rotate 5s forwards 1;
}

.cycle .tire:nth-child(2){
    left: 62%;
}

@keyframes slide-in{
    0%{
        left: -100%;
    }
    100%{
        left: 60%;
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(1080deg);
    }
}

.content{
    opacity: 0;
    animation: fade-in 1s 5s forwards 1;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.heading{
    font-size: 120px;
    font-weight: bold;
    line-height: 120px;
    text-transform: capitalize;
}

.heading span{
    display: block;
    color: yellow;
}

.para{
    width: 50%;
    min-width: 400px;
    margin-top: 50px;
}